html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --font--2: clamp(0.6944rem, 0.5882rem + 0.5314vi, 1rem);
  --font--1: clamp(0.8333rem, 0.6884rem + 0.7246vi, 1.25rem);
  --font-0: clamp(1rem, 0.8043rem + 0.9783vi, 1.5625rem);
  --font-1: clamp(1.2rem, 0.938rem + 1.3098vi, 1.9531rem);
  --font-2: clamp(1.44rem, 1.0917rem + 1.7416vi, 2.4414rem);
  --font-3: clamp(1.728rem, 1.2676rem + 2.3022vi, 3.0518rem);
  --font-4: clamp(2.0736rem, 1.468rem + 3.028vi, 3.8147rem);
  --font-5: clamp(2.4883rem, 1.6953rem + 3.9653vi, 4.7684rem);
  --color-darker: #283618;
  --color-darker-2: #606c38;
  --color-light: #fefae0;
  --secondary-color: #dda15e;
  --secondary-color2: #bc6c25;
}

a {
  text-decoration: none;
  color: #283618;
  cursor: pointer;
}

li {
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.container {
  width: clamp(18rem, 100%, 90rem);
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

/* navbar */
header {
  border: 1px solid rgb(155, 155, 155);
  margin: 0 auto;
  padding: 1rem 0;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-main i {
  margin-right: 2rem;
  cursor: pointer;
  position: relative;
}

.nav-brand {
  width: 3rem;
  height: 3rem;
  background-color: gray;
  cursor: pointer;
}

.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  top: 5rem;
  right: 0;
  gap: 6rem 0;
  width: 18rem;
  height: 100vh;
  background-color: beige;
}

/* HERO */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero {
  width: 90%;
  height: 60%;
  margin: 2rem 0;
  padding: 2rem 1rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h1 {
  margin: 1rem 0;
}

.hero p {
  margin: 3rem 0 1rem 0;
}

.hero button {
  width: 40%;
}

/* news cards grid  */

.grid-news {
  width: 90%;
  border: 1px solid white;
  background-color: rgb(14, 45, 14);
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  justify-items: center;
  
}

.cardComponent {
  width: 80%;
  margin: 1rem 0 ;
  
  background-color: white;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center;
  margin: 0 auto; */
}

.card-img {
  width: 10rem;
  height: 8rem;
  border: 1px solid gray;
}

@media screen and (min-width: 30em) {
  .hero {
    padding: 4rem 0;
  }
}
@media screen and (min-width: 48em) {
  .linksContainer {
    width: auto;
    height: auto;
    justify-content: center;
    flex-direction: row;
    position: static;
    gap: 0 2rem;
  }

  .hero {
    padding: 6rem 0;
  }

  .grid-news{
    grid-template-columns: 50% 50%;
  }
}
@media screen and (min-width: 62em) {
  .hero {
    padding: 3rem 0;
  }

  .grid-news{
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}
@media screen and (min-width: 75em) {
}
